[submodule "giturl"]
	path = giturl
	url = https://github.com/zdharma-continuum/giturl
        ignore = untracked
[submodule "cgiturl"]
	path = cgiturl
	url = https://github.com/zdharma-continuum/cgiturl
        ignore = untracked
