[submodule "giturl"]
	path = giturl
	url = git@github.com:NorthIsMirror/giturl
        ignore = untracked
[submodule "cgiturl"]
	path = cgiturl
	url = git@github.com:NorthIsMirror/cgiturl
        ignore = untracked
